@tailwind base;
@tailwind components;
@tailwind utilities;

body{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      overflow-X: hidden;
      font-family: inherit;
}

.previous{
      background-color: #333;
      color: #fff;
      padding: 4px;
      border-radius: 10px;
      cursor: pointer;
}
.nextBotton{
      background-color: #333;
      color: #fff;
      padding: 4px;
      border-radius: 10px;
      cursor: pointer;

}
.activeBotton{
      background-color: #326CEC;
      padding: 2px 10px;
      border-radius: 50%;
      color: #fff;
}